{% schema %}
{
  "name": "t:sections.collage-gallery.name",
  "tag": "section",
  "class": "spaced-section collage-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Multimedia collage",
      "label": "t:sections.collage.settings.heading.label"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.collage.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.collage.blocks.image.settings.image.label"
        }
      ]
    }
  ],
  "max_blocks": 20,
  "presets": [
    {
      "name": "t:sections.collage-gallery.presets.name",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}

{{ 'macy.js' | asset_url | script_tag }}

{% stylesheet %}
    .header__food-gallery.page-width.page-width--narrow {
    	padding:40px 0 !important;
        text-align:center !important;
	}
{% endstylesheet %}

<div class="collage-wrapper page-width{% if section.settings.heading == blank %} no-heading{% endif %}">
  <header class="header__food-gallery page-width page-width--narrow">
    <h1 class="article-template__title" itemprop="headline">{{ section.settings.heading | escape }}</h1>
  </header>
  <div class="macy-container">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
          {%- when 'image' -%}
            {%- if block.settings.image != blank -%}
               <img
                   src="{{ block.settings.image | img_url: '400x' }}"
                   alt="{{ block.settings.image.alt | escape }}"
               >
             {%- else -%}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder collage-card__image' }}
             {%- endif -%}

          {%- when 'video' -%}

      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

<script>
  var masonry = new Macy({
    container: '#macy-container',
    trueOrder: false,
    waitForImages: true,
    useOwnImageLoader: false,
    mobileFirst: true,
    columns: 1,
    margin: {
        y: 16,
        x: '2%',
    },
    breakAt: {
        1200: 5,
        940: 5,
        520: 3,
        400: 2
    },
});
</script>

{% javascript %}
{% endjavascript %}