{% schema %}
{
  "name": "t:sections.collage-gallery.name",
  "tag": "section",
  "class": "spaced-section collage-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Multimedia collage",
      "label": "t:sections.collage.settings.heading.label"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.collage.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.collage.blocks.image.settings.image.label"
        }
      ]
    }
  ],
  "max_blocks": 20,
  "presets": [
    {
      "name": "t:sections.collage-gallery.presets.name",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
{{ 'galleria.js' | asset_url | script_tag }}
{{ 'galleria.folio.js' | asset_url | script_tag }}
{{ 'galleria.folio.css' | asset_url | stylesheet_tag }}

<div class="collage-wrapper page-width{% if section.settings.heading == blank %} no-heading{% endif %}" style="display:none;">
  <header class="header__food-gallery page-width page-width--narrow">
    <h1 class="article-template__title" itemprop="headline">{{ section.settings.heading | escape }}</h1>
  </header>
  <div class="galleria">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
          {%- when 'image' -%}
            {%- if block.settings.image != blank -%}
              <img
                   srcset="{%- if block.settings.image.width >= 550 -%}{{ block.settings.image | img_url: '550x' }} 550w,{%- endif -%}
                           {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | img_url: '720x' }} 720w,{%- endif -%}
                           {%- if block.settings.image.width >= 990 -%}{{ block.settings.image | img_url: '990x' }} 990w,{%- endif -%}
                           {{ block.settings.image | img_url: 'master' }} {{ block.settings.image.width }}w"
                   src="{{ block.settings.image | img_url: '990x' }}"
                   alt="{{ block.settings.image.alt | escape }}"
                   >
             {%- else -%}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder collage-card__image' }}
             {%- endif -%}

          {%- when 'video' -%}

      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>
<script>
  
  $(document).ready(function() {
    $(".collage-wrapper").css("display", "block");
    Galleria.run('.galleria', {
      theme: 'folio',
      _center: true,
      _animate: true
    });
  });
</script>

{% stylesheet %}
    .header__food-gallery.page-width.page-width--narrow {
    	padding:40px 0 !important;
        text-align:center !important;
	}
	body .galleria-theme-folio .galleria-thumbnails .galleria-image { 
		width:236px;
	}
	.galleria {
		text-align: center;
		max-width: 1200px;
		min-height: 240px;
	}
	.galleria-container div:empty {
		display: block;
	}
    .galleria-stage {
  		height: 800px;
  	}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}