{% schema %}
{
  "name": "t:sections.collage-gallery.name",
  "tag": "section",
  "class": "spaced-section collage-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Multimedia collage",
      "label": "t:sections.collage.settings.heading.label"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.collage.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.collage.blocks.image.settings.image.label"
        }
      ]
    }
  ],
  "max_blocks": 20,
  "presets": [
    {
      "name": "t:sections.collage-gallery.presets.name",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}

<script src="https://cdn.jsdelivr.net/npm/macy@2"></script>


{% stylesheet %}
{% endstylesheet %}

<div class="collage-wrapper page-width{% if section.settings.heading == blank %} no-heading{% endif %}">
  <header class="header__food-gallery page-width page-width--narrow">
    <h1 class="article-template__title" itemprop="headline">{{ section.settings.heading | escape }}</h1>
  </header>
  <div class="grid">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
          {%- when 'image' -%}
            {%- if block.settings.image != blank -%}
                <img
                   srcset="{%- if block.settings.image.width >= 550 -%}{{ block.settings.image | img_url: '550x' }} 550w,{%- endif -%}
                           {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | img_url: '720x' }} 720w,{%- endif -%}
                           {%- if block.settings.image.width >= 990 -%}{{ block.settings.image | img_url: '990x' }} 990w,{%- endif -%}
                           {{ block.settings.image | img_url: 'master' }} {{ block.settings.image.width }}w"
                   src="{{ block.settings.image | img_url: '990x' }}"
                   alt="{{ block.settings.image.alt | escape }}"
                 >
             {%- else -%}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder collage-card__image' }}
             {%- endif -%}

          {%- when 'video' -%}

      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

<script>
  
var macy = Macy({
    container: '#macy-container',
    trueOrder: false,
    waitForImages: false,
    margin: 24,
    columns: 6,
    breakAt: {
        1200: 5,
        940: 3,
        520: 2,
        400: 1
    }
});
</script>

{% javascript %}
{% endjavascript %}