{% schema %}
{
  "name": "t:sections.collage-gallery.name",
  "tag": "section",
  "class": "spaced-section collage-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Multimedia collage",
      "label": "t:sections.collage.settings.heading.label"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.collage.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.collage.blocks.image.settings.image.label"
        }
      ]
    }
  ],
  "max_blocks": 20,
  "presets": [
    {
      "name": "t:sections.collage-gallery.presets.name",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}

{{ 'blueimp-gallery.min.css' | asset_url | stylesheet_tag }}

<div class="collage-wrapper page-width{% if section.settings.heading == blank %} no-heading{% endif %}">
  <header class="header__food-gallery page-width page-width--narrow">
    <h1 class="article-template__title" itemprop="headline">{{ section.settings.heading | escape }}</h1>
  </header>
    <div id="links">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
          {%- when 'image' -%}
            {%- if block.settings.image != blank -%}
              <a href="{{ block.settings.image | img_url: '500x' }}" title="{{ block.settings.image.alt | escape }}">
                <img src="{{ block.settings.image | img_url: '990x' }}" alt="{{ block.settings.image.alt | escape }}" />
              </a>
            {%- else -%}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder collage-card__image' }}
             {%- endif -%}

          {%- when 'video' -%}

      {%- endcase -%}
    {%- endfor -%}
  </div>
  <div
    id="blueimp-gallery"
    class="blueimp-gallery"
    aria-label="image gallery"
    aria-modal="true"
    role="dialog"
  >
    <div class="slides" aria-live="polite"></div>
    <h3 class="title"></h3>
    <a
      class="prev"
      aria-controls="blueimp-gallery blueimp-gallery-contain"
      aria-label="previous slide"
      aria-keyshortcuts="ArrowLeft"
    ></a>
    <a
      class="next"
      aria-controls="blueimp-gallery"
      aria-label="next slide"
      aria-keyshortcuts="ArrowRight"
    ></a>
    <a
      class="close"
      aria-controls="blueimp-gallery"
      aria-label="close"
      aria-keyshortcuts="Escape"
    ></a>
    <a
      class="play-pause"
      aria-controls="blueimp-gallery"
      aria-label="play slideshow"
      aria-keyshortcuts="Space"
      aria-pressed="false"
      role="button"
    ></a>
    <ol class="indicator"></ol>
  </div>
</div>
{{ 'blueimp-gallery.min.js' | asset_url | script_tag }}
<script>
  document.getElementById('links').onclick = function (event) {
    event = event || window.event
    var target = event.target || event.srcElement
    var link = target.src ? target.parentNode : target
    var options = { index: link, event: event }
    var links = this.getElementsByTagName('a')
    blueimp.Gallery(links, options)
  }
</script>

{% stylesheet %}
    .header__food-gallery.page-width.page-width--narrow {
    	padding:40px 0 !important;
        text-align:center !important;
	}
	body .galleria-theme-folio .galleria-thumbnails .galleria-image { 
		width:236px;
	}
	.galleria {
		text-align: center;
		max-width: 1200px;
		min-height: 240px;
	}
	.galleria-container div:empty {
		display: block;
	}
    .galleria-stage {
  		height: 800px;
  	}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}